@import 'variables';

.page-header {
	background-color: lighten(@grey, 55%);
	border-bottom: 1px solid lighten(@grey, 45%);

	.nav {

		&-item {
			padding: .5% 0 .5%;

			&:hover {
				background-color: @blue;
			}
		}

	}

}

.section {
	&-img {
		width: 100%;
	}
}

.subsection {
	margin-bottom: 2rem;

	&-item {
		justify-content: space-between;
		margin-right: 0;
		margin-left: 0;
	}

	&-text {
		text-align: center;
		color: lighten(@grey, 100%);
		margin-bottom: 0;
		padding: 3% 0 3%;
	}

	&-figure {
		width: 23%;
		background-color: @red;
		padding: 1px 1px 0;

		&:last-child {
			background-color: @green;
		}

		&:nth-child(2) {
			background-color: @blue;
		}

		&:nth-child(2) {
			background-color: @orange;
		}
	}

	&-img {
		width: 100%;
	}

}

.legal {
	background-color: @grey;
	padding: 1%;

	&-text {
		margin: 0;
		color: lighten(@grey, 100%);
	}
}

h1, h3 {
	color: @blue;
	padding-top: 1.5rem;
}

hr {
	border-top: 1px solid @blue;
}






