@import 'variables';

// PAGE HEADERS AND NAVBAR

.card-header {
	padding: 0;

	.navbar {
		padding: 0;
	}

	.nav {

		&-item {

			padding: .25rem;

			&:hover {
				background-color: @blue;
				}
			}

		}

	}

.navbar-light .navbar-nav .nav-link:hover {
	color: #fff;
}

.navbar-toggler {
	margin: 1% 0;
}

h1, h3 {
	margin-top: 2rem;
}


// SUBSECTION RELATED CLASSES

.subsection {
	margin-bottom: 2rem;

	&-figure {
		padding: 1px;
	}

	&-text {
		text-align: center;
		margin-bottom: 0;
		padding: 3% 0 3%;
	}

	&-img {
		width: 100%;
	}

}

.related-class {
    .-(@i: length(@colors)) when (@i > 0) {
        @name: extract(@colors, @i);
        &.@{name} {background: @@name}
        .-((@i - 1));
    } .-;
}

// FOOTER 

.legal {
	background-color: @grey;
	padding: 1%;

	&-text {
		margin: 0;
	}
}










