li {
	list-style: none;
	margin-bottom: .25rem;
}

p.opened, .emptyFolder {
	font-style: italic;
	margin-left: 1.5rem; 
	
}

.opened {
  display: block;
}

.closed {
	display: none;
}

div.line:hover {
	background-color: #e6e6e6; 
}

div.line {
	display: flex;
	flex-direction: row;
}

div p {
	margin: 5px;
}

