.header {
	display: flex;
	justify-content: space-around;
	width: 100%;
	flex-basis: 50%;
	padding: 20px 0;
}

.item {
	height: 30px;
	width: 30px;
	border: 1.5px solid black;
	border-collapse: collapse;
	float: left;
}

.but {
	height: 7px;
	width: 7px;
	margin-left: 25px;
	margin-top: 25px;
	overflow: visible;
	z-index: 5;
	position: absolute;
}

.bulb {
	height: 25px;
	width: 25px;
	border-radius: 50%;
	margin-top: 16px;
	margin-left: 16px;
	background-color: #000;
}

.bulbWhite {
	height: 25px;
	width: 25px;
	border-radius: 50%;
	margin-top: 16px;
	margin-left: 16px;
	background-color: #fff;
}

#board {
	width: 480px;
	margin: 15px auto;
	height: auto;
}

.item {
	width: 25px;
	height: 25px;
	float: left;
	padding: 0px;
	margin: 0px;
	background-color: #c8c384;
	border: 3.5px solid #353318;
	z-index: 1;
}

.finish {
	background-color: #df7020;
}

.winnerText {
	color: #e91640;
	font-size: 30px;
}

.turn {
	text-decoration: underline;
}

.gamer {
	font-size: 20px;
}

.button {
	margin: 0 auto;
	display: block;
	padding: 10px 25px;
	font-size: 20px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #c8c384;
	background-color: #353318;
	border: none;
	border-radius: 15px;
	box-shadow: 0 3px #c8c384;
}

.final {
	width: 100%;
	float: left;
	margin: 20px 0;
}