.container {
	display: flex;
	flex-direction: row;
	flex-basis: 20%;
	flex-wrap: wrap;
}

.item {
	width: 15%;
	height: 15%;
	font-style: serif;
	color: #A19E86;
	text-transform: uppercase;
}

.item:hover {
	cursor: pointer;
	background-color: #2A2A2A;
}

.tankImg {
	width: 100%;
	height: 100%;
}

figure {
	margin: 0;
}

figcaption {
	width: 75%;
	margin: 0 auto;
	font-size: .75rem;
	display: flex;
	flex-direction: row;
	align-content: center;
}

.countryImg {
	width: 12%;
	height: 12%;
}

span {
	margin-left: .5rem;
}

.model {
	color: #DDD;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

a {
	text-decoration: none;
	color: #A19E86;
}

.tank-details, .container {
	color: #A19E86;
}

.header {
	font-size: 1.85rem;
}

table, tr, td {
	border: 1px solid #A19E86;
	border-collapse: collapse;
}

.table {
	width: 50%;
}

table {
	width: 100%;
	height: 40%;
}

td {
	padding-left: 7px;
}