.page-header {
  padding: 3rem 0 8rem;
  color: #fff;
  font-family: 'Open Sans', sans-serif; }
  .page-header a {
    color: #fff; }
  .page-header button {
    padding: 1rem 3rem; }

h1 {
  font-size: 3rem; }

h1:after {
  content: "TM";
  font-size: 1rem;
  top: -10px;
  position: relative;
  top: -1.5rem;
  left: 1rem; }

.wrapper {
  display: flex;
  justify-content: center;
  font-family: 'Open Sans', sans-serif; }
  .wrapper--img {
    background: url("../img/apples.jpg") no-repeat scroll top;
    background-size: cover; }
  .wrapper--grey {
    background-color: #d9d9d9;
    padding-bottom: 5rem; }

a {
  text-decoration: none; }

span {
  font-size: 5rem; }

.container {
  width: 70%;
  max-width: 58rem;
  margin: 0 auto;
  text-align: center;
  font-family: 'Open Sans', sans-serif; }

.navbar {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 9rem; }

ul.menu {
  display: flex;
  margin-top: 0;
  flex-direction: row; }
  ul.menu li {
    list-style: none;
    padding-left: 2.5rem; }
  ul.menu li a:hover {
    border-bottom: 1px solid #fff;
    padding-bottom: .5rem;
    cursor: pointer; }

.promo__text {
  padding-bottom: 9rem; }

.info {
  display: flex; }
  .info__item {
    flex-basis: 50%;
    text-align: left;
    margin: 5rem 0; }

.second {
  font-size: .75rem; }

div.first p {
  padding-right: 3.5rem; }

.gallery header {
  padding: 5rem 0 2rem;
  font-family: 'Open Sans', sans-serif; }

.content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; }

.content img {
  width: 31.75%;
  overflow: hidden;
  padding-bottom: 1.2rem; }

.content img:first-child {
  width: 66%; }

.content img:nth-child(4) {
  width: 66%; }

.form {
  background-color: #fff;
  padding: 3rem 0;
  margin-top: 1rem;
  width: 100%; }
  .form input {
    padding: .5rem 1rem; }

button {
  background-color: #000;
  color: #fff;
  padding: .5rem 1rem; }

.footer__nav {
  display: block; }
  .footer__nav .footer__item {
    float: left;
    list-style: none;
    width: 21%;
    text-align: left;
    padding-right: 6.5%; }
  .footer__nav p {
    color: #999;
    font-size: .75rem; }

.footer__item:first-child {
  margin-left: -4%; }

.footer__item.last {
  padding: 0; }
  .footer__item.last input {
    margin-bottom: 1rem;
    padding: .5rem 0; }

.light {
  color: #f2f2f2; }

.f-info__list {
  list-style: none; }

li.f-info__list-item {
  padding-left: 2rem;
  font-size: .75rem; }

footer.footer {
  clear: both; }
  footer.footer .container {
    clear: both;
    border-top: 1px solid #d9d9d9;
    margin-top: 2rem; }
  footer.footer p {
    color: #999;
    font-size: .75rem; }

.pre-footer {
  margin-top: 3rem;
  margin-bottom: 2rem; }

footer .container {
  display: flex;
  justify-content: space-between; }
  footer .container ul {
    display: flex;
    flex-direction: row; }
