//Colors vars

$background: #f4d1a4;
$title: #8B0000;
$light: lighten($background,15%);
$button: #4f74e3;
$table: #ddd;
$left: left;
$content: #fff;
$form: #A9A9A9;
$lightform: lighten($form,15%);

//Widths, heights, breakpoints vars
$width: 70%;
$brief: 40%;
$xsbreak: 1%;
$sbreak: 2%;

