//Colors vars
$background: #E0FFFF;
$title: #FFD700;
$light: lighten($title,25%);
$button: #FFD700;
$table: #9ACD32;
$bgtable: #6b9023;
$content: #333333;
$form: #FFD700;
$lightform: #A9A9A9;
$text: #fff;
$link: #FFD700;
$dark: #000;
$padding: 1rem 0;
$marbrief: 2rem;

//Widths, heights, breakpoints vars
$width: 70%;
$brief: 100%;
$xsbreak: 1%;
$sbreak: 2%;

